.adminPanel {
  height: calc(100vh - 4rem);
  display: grid;
  place-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;

  .addUser {
    background: white;
    padding: 2rem;
    z-index: 1;
    /* From https://css.glass */
    background: white;
    border-radius: .3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .card-wrapper {
      display: flex;
      gap: 1rem;

      .left-card{

      }

      .right-card{
        display: grid;
        align-items: end;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      .button-sets{
        display: flex;
        gap: 1rem;
      }
    }
  }

  .button-card{
    width: 20%;
    margin-left: 2rem;
    background: white;
    padding: 3rem 2rem;
    z-index: 1;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: .3rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    .buttons{
      display: grid;
      gap: 1rem;

      .button-sets{
        display: grid;
        gap: 1rem;
      }
    }
  }
}